{
	"presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
              "regenerator": true,
              "corejs": 3
            }
        ],
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@src": "./src",
                    "@assets": "./src/assets",
                    "@modules": "./src/modules",
                    "@core": "./src/core",
                    "@bot": "./src/modules/bot"
                }
            }
        ],
        "@babel/plugin-transform-modules-commonjs",
        ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        ["@babel/plugin-proposal-private-methods", { "loose": true }]
    ]
}
